<div class="text-center">
    <h1 class="display-4">Nacho's</h1>
    <h2>Menú de la semana</h2>
    
    <table class="table">
    <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Lunes</th>
      <th scope="col">Martes</th>
      <th scope="col">Miércoles</th>
      <th scope="col">Jueves</th>
      <th scope="col">Viernes</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    
      <th scope="row">Entrada</th>
      
      <td>@ViewBag.Lunes.Entrada</td>
      <td>@ViewBag.Martes.Entrada</td>
      <td>@ViewBag.Miercoles.Entrada</td>
      <td>@ViewBag.Jueves.Entrada</td>
      <td>@ViewBag.Viernes.Entrada</td>

    </tr>
    <tr>
      <th scope="row">Plato de fondo</th>
      <td>@ViewBag.Lunes.Plato</td>
      <td>@ViewBag.Martes.Plato</td>
      <td>@ViewBag.Miercoles.Plato</td>
      <td>@ViewBag.Jueves.Plato</td>
      <td>@ViewBag.Viernes.Plato</td>
    </tr>
    <tr>
      <th scope="row">Bebida</th>
      <td>@ViewBag.Lunes.Bebida</td>
      <td>@ViewBag.Martes.Bebida</td>
      <td>@ViewBag.Miercoles.Bebida</td>
      <td>@ViewBag.Jueves.Bebida</td>
      <td>@ViewBag.Viernes.Bebida</td>
    </tr>
    </tbody>
    </table>    
</div>
